<div class="calendar-holder">
  <%= month_calendar attribute: :start_time, events: @events do |date, events| %>
    <%= date %>

    <% events.each do |event| %>
      <div>
        <%= event.name %>
      </div>
    <% end %>
  <% end %>
</div>
