<div class="calendar-holder">
  <%= month_calendar attribute: :start_time, challenges: @challenges do |date, challenges| %>
    <%= date %>
    <% challenges.each do |challenge| %>
      <div>
        <%= link_to challenge.event_name, challenge_path(challenge) %>
      </div>
    <% end %>
  <% end %>
</div>
