<div class="calendar-holder">
  <%= month_calendar attribute: :start_time, events: @challenges do |date, challenges| %>

    <%= date %>
    <% challenges.each do |challenge| %>
      <div>
        <%= link_to "#{challenge_title(challenge)} - #{challenge.start_time.strftime(parsed_time)} ", challenge_path(challenge), class: "#{challenge.status}-status" %>
      </div>
    <% end %>
  <% end %>
</div>
