@import url('https://fonts.googleapis.com/css?family=Quicksand');
* {
  font-family: 'Quicksand', sans-serif;
}

.main {
  padding: 16px;
  margin-top: 30px;
  text-align: center;
}

.top-rated {
  margin: 0 auto;
  text-align: center;
  li {
    list-style: none;
    font-size: 15px;
  }
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}
a:hover {
  background-color: white;
}

.flash {
  padding: 15px;
  margin-bottom: 20px;
  margin: 0 auto;
  width: max-content;
  border: 1px solid transparent;
  border-radius: 4px;
}

.notice {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
