@import url('https://fonts.googleapis.com/css?family=Quicksand');
* {
  font-family: 'Quicksand', sans-serif;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  grid-template-areas:
    'header'
    'content'
}

.header {
  grid-template-areas: 'header';
  grid-area: header;
  border: thin solid grey;
  border-radius: 3px;
}

.home-container {
  grid-area: 'content';
  display: inline-grid;
  grid-template-areas:
    'left main main main right right'
    'left footer footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
}

.challenge-container {
  grid-area: 'content';
  display: inline-grid;
  grid-template-areas:
  'left main main main main right'
  'left footer footer footer footer right';
  grid-gap: 10px;
  padding: 10px;
}

.form-container {
  grid-area: content;
  display: inline-grid;
  grid-template-areas:
  'main'
  'main';
  grid-gap: 10px;
  padding: 10px;
}

.left-sidebar {
  grid-area: left;
  border: thin solid grey;
  border-radius: 3px;
}

.about, .challenge-content {
  grid-area: main;
  border: thin solid grey;
  border-radius: 3px;
}

.about {
  text-align: left;
}

.challenge-content {
  grid-area: main;
  text-align: center;
}

.right-sidebar {
  grid-area: right;
  border: thin solid grey;
  border-radius: 3px;
}

.footer {
  grid-area: footer;
  border: thin solid grey;
  border-radius: 3px;
  text-align: right;
}

.sidebar {
  margin: 0 auto;
  text-align: center;
  li {
    list-style: none;
    font-size: 15px;
  }
}

table {
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}
a:hover {
  background-color: white;
}

.flash {
  padding: 15px;
  margin-bottom: 20px;
  margin: 0 auto;
  width: max-content;
  border: 1px solid transparent;
  border-radius: 4px;
}

.padding-5-px {
  padding: 5px;
}

.notice, .accepted-status {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert, .rejected-status{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.warning, .pending-status {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.info, .completed-status {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
