.centered-container {
  text-align: center;
}

.field, .actions {
  margin-bottom: 20px;
}

.field input, .actions input {
  font-size: 15px;
  padding: 15px;
  margin: 0 auto;
  width: max-content;
  border: 1px solid black;
  border-radius: 4px;
}

.minor-links {
  font-size: 10px;
}
